:root {
	--font-headers: 'Anton', sans-serif;
	--font-color: #f5f5f5;
	--font-title-color: #ffe348;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: #2b2f33;
	color: var(--font-color);
	margin: 0;
	padding: 0;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	padding-top: 5rem;
	width: 120rem;
}

.title {
	color: var(--font-title-color);
	font-family: var(--font-headers);
	font-size: 7rem;
	letter-spacing: 1rem;
	line-height: 1;
	margin: 0;
}

.form {
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: repeat(3, auto);
	margin-top: 8rem;
	width: 80%;
}
